body{
    background-image: url('https://cdn.thegameawards.com/1/2019/10/Apprenticed.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center;
    background-attachment: fixed;
    background-color: rgba(245, 151, 36, 0.8);
}
body ul li{
    list-style-type: none;
}
body ul div{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(32, 32, 32, 0.8)
}
.menu{
    position: fixed;
}
body li{
    float: left;
}
body ul div li a, .dropbt{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body ul div li a:hover, .drop:hover .dropbt{
    background-color: rgba(255, 75, 19, 0.2);
}
body li.drop{
    display: inline-block;
}
.drop-content{
display: none;
position: absolute;
background-color: rgba(32, 32, 32, 0.8);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.drop-content a{
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.drop-content a:hover{
    background-color: #f1f1f1;
}
.drop:hover .drop-content{
    display: block;
}
body ul li a{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}
body input{
    height: 25px;
    margin: 14px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
a,a:hover{
      font-size:1.7em;
}
a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
}
a.third:after{
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
}
a:hover{
	color:#2822d1;
}
h1{
    color: #fcf3f0;
    font-size: 50px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.new-products button:hover{
    opacity: 0.8;
}
.new-products button{
    background-color: #eceff1;
    margin-left: 10px;
}
.new-products{
    text-align: center;
}
.new-products p{
    font-family: 'Roboto Mono', monospace;
}
.price{
    color: red;
    font-size: medium;
}
.type{
    color:#2c98e0;
    font-size: small;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.name{
    color:rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}